{% extends "base.html" %}
{% block head %}
    <link rel="stylesheet" href="/static/css/home.css">
{% endblock %}
{% block scripts %}
    <script src="/static/js/home.js"></script>
{% endblock %}
{% block header %}{% endblock %}
{% block content %}
        <article id="vincis" class="update">
            <div id="header">
                <div class="contact">
                    <ul>
                        <li><a href=""><i class="icon-envelope"></i></a></li>
                        <li><a href="https://twitter.com/vinc1s"><i class="icon-twitter"></i></a></li>
                        <li><a href="/feed"><i class="icon-rss"></i></a></li>
                    </ul>
                </div>
                <a role="banner" href="">
                    <canvas id="logo" width=450 height=150>
                        <h1>Vincis</h1>
                    </canvas>
                </a>
            </div>
            <h2 class="above-canvas">¿Qué es vincis?</h2>
            <div class="first above-canvas">Mi obra, que agrupo en tres categorías: Informes, Tecnicismos y Artículos.</div>
            <div class="above-canvas">
		        <ul class="second">
		            <li class="report"><h3>Informes</h3>Donde informo como <a>ciudadano</a> de ciertas cuestiones que considero importantes.</li>
		            <li class="tech"><h3>Tecnicismos</h3>Donde humildemente correspondo los esfuerzos remotos que me educaron frente a un terminal.</li>
		            <li class="article"><h3>Artículos</h3>Donde recojo algunos garabatos en cuadernos y folios.</li>
		        </ul>
            </div>
            <canvas id="report" class="hidden" width=400 height=300></canvas>
            <canvas id="tech" class="hidden" width=400 height=500></canvas>
            <canvas id="article" class="hidden"></canvas>
        </article>
        <article id="who">
            <h2>¿Quién eres?</h2>
            <div class="first">
                <p><a>¿Acaso importa?</a> Basta decir que me expreso escribiendo; la edad, nacionalidad, nombre o sexo permite que me los reserve, no creo que aporten nada nuevo.</p>
            </div>
            <form class ="second" id="sendMail" method="post" action="/send-mail">
               {% csrf_token %}
               <input placeholder="Título del correo que me vas a enviar.">
               <textarea rows=8 placeholder="Contenido del correo que me vas a enviar."></textarea>
               <button type="submit">Enviar correo</button>
            </form>
        </article>
{% endblock %}