{% extends "base.html" %}
{% block style %}
	@media all and (min-width: 1280px){
	    .wrapper{
	        width: 70%;
	    }
	}
{% endblock %}
{% block navigation %}
    <div role="navigation">
        <ul>
            <li><a href="/"><i class="icon-home"></i></a></li>
            <li><a href="/informes" class="{% if title == 'informe' %}selected{% endif %}">Informes</a></li>
            <li><a href="/tecnicismos" class="{% if title == 'tecnicismo' %}selected{% endif %}">Tecnicismos</a></li>
            <li><a href="/articulos" class="{% if title == 'articulo' %}selected{% endif %}">Artículos</a></li>
            <li role="search"><form action="/buscar"><input type="text" value="Buscar" name="q"><i style="padding-left: 5px;" class="icon-search"></i></form></li>
        </ul>
    </div>
{% endblock %}
{% block title %}
    {{ title|capfirst}} | Vincis
{% endblock %}
{% block content %}
	{% block title_content %}{% endblock %}
    <div role="main">
	    {% for article in articles %}
	        <article role="article" itemscope itemtype="http://schema.org/Article">
	            <div class="title">
	                <h3 itemprop="name"><a href="{{ article.url}}">{{ article.title|capfirst }}</a></h2>
	                <time itemprop="dateCreated" datetime="{{ article.pub_date|date:"Y-m-d" }}">
	                    {{ article.pub_date|date:"d F Y"}}
	                </time>
	            </div>
	            <summary itemprop="review">
	                {{ article.summary }}
	            </summary>
	            {% include "tags.html" with tags=article.tags.all %}
	        </article>
	    {% endfor %}
	</div>
    <div class="pagination">
        <ul>
            {% for page in pages %}
                {% if page == act_page or page == articles.number %}
                    <li><a class="selected" href="?page={{ page }}{% if query %}&q={{ query }}{% endif %}">{{ page }}</a></li>
                {% else %}
                    <li><a href="?page={{ page }}{% if query %}&q={{ query }}{% endif %}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}