{% extends "article.html" %}
{% block style %}
    div[role="main"] > .title, #content{
        width: 100%;
    }
    
	@media all and (min-width: 1025px){
	    div[role="main"] > .title, #content{
	        width: 61.13%;
	    }
	}
	
	@media all and (min-width: 1700px){
        .wrapper{
            width: 80%;
        }
    }
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="/static/css/shCoreVincis.css">
{% endblock %}
{% block scripts %}
    <script>
        // handler for the table of contents
        var toc = document.querySelector("#toc div");
        toc.style.position = "static";
        toc.style.width = "100%";
        window.onscroll = function(e){
            var dy = (window.pageYOffset || document.body.scrollTop);
            if (window.matchMedia("(min-width: 1025px)").matches){
                toc.style.width = "100%";
                if (dy > 220 + content.offsetHeight - toc.offsetHeight){
                    toc.style.position = "relative";
                    toc.style.top = (content.offsetHeight - toc.offsetHeight -20) + "px";
                } else if (dy >= 220){
                    toc.style.position = "fixed";
                    toc.style.top = "32px";
                    toc.style.width = "30%"
                } else if (dy < 220){
                    toc.style.position = "static";
                }
            } else {
                toc.style.position = "static";
                toc.style.width = "100%";
            }
        }
        var others = document.querySelectorAll(".related li");
        for(var i = 0; i < others.length; i++){
            others[i].onmouseover = function(e){
                 e.currentTarget.children[1].classList.remove("hidden");
            }
            others[i].onmouseout = function(e){
                e.currentTarget.children[1].classList.add("hidden");
            }
        }
    </script>
    <script src="/static/js/syntax/shCore.js"></script>
    <script src="/static/js/syntax/shAutoloader.js"></script>
    <script>
        SyntaxHighlighter.autoloader(
            'bash shell /static/js/syntax/shBrushBash.js',
            'css /static/js/syntax/shBrushCss.js',
            'js jscript javascript /static/js/syntax/shBrushJScript.js',
            'python py /static/js/syntax/shBrushPython.js',
            'sql /static/js/syntax/shBrushSql.js',
            'xml xhtml html /static/js/syntax/shBrushXml.js'
        );
        SyntaxHighlighter.all();
    </script>
{% endblock %}
{% block navigation %}
    <div role="navigation">
        <ul>
            <li><a href="/"><i class="icon-home"></i></a></li>
            <li><a href="/informes">Informes</a></li>
            <li><a href="/tecnicismos" class="selected">Tecnicismos</a></li>
            <li><a href="/articulos">Artículos</a></li>
            <li role="search"><form action="/buscar"><input type="text" value="Buscar" name="q"><i style="padding-left: 5px;" class="icon-search"></i></form></li>
        </ul>
    </div>
{% endblock %}
{% block toc %}
    <a href="#toc" id="totoc"><i class="icon-list-ul"></i></a>
    <div id="toc">
        <div>
            <h5>Indice de contenidos:</h5>
            <ul>
                {% for entry in toc %}
                    <li><a href="{{ entry.href }}">{{ entry.content }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
{% block related_articles %}
	<div id="related-articles" class="related">
	   {% if resource.others.all|length > 0 %}
		    <h5>Tecnicismos relacionados:</h2>
		    <ul>
		       {% for other in resource.others.all %}
	                <li>
	                    <a href="{{ other.url }}">{{ other.title }}</a>
	                    <summary class="hidden">{{ other.summary }}</summary>
	                </li>
	            {% endfor %}
		    </ul>
		{% else %}
		    <h5>No hay tecnicismos relacionados por el momento</h5>
	    {% endif %}
	</div>
{% endblock %}
{% block related_reports %}
    
    <div id="related-reports" class="related">
        {% if reports|length > 0 %}
	        <h5>Informes relacionados:</h2>
	        <ul>
	            {% for other in reports %}
	                <li>
	                    <a href="{{ other.url }}">{{ other.title }}</a>
	                    <summary class="hidden">{{ other.summary }}</summary>
	               </li>
	            {% endfor %}
	        </ul>
	     {% else %}
	        <h5>No hay informes relacionados por el momento</h5>
	     {% endif %}
    </div>
{% endblock %}
