.wrapper{
    margin-top : 0;
    width: 95%;
    position: static;
}

#help{
	position: absolute;
	top: 0;
	left: -330px;
	z-index: 100;
	transition: left 2s;
}

#help.expanded{
    left: 0;
    transition: left 1s;
}

#help #content{
	color: white;
	padding: 20px;
	position: fixed;
	width: 300px;
	text-align: left;
	background: rgba(0,0,0,0.7);
	cursor: pointer;
}

#help #eject{
	color: white;
	position: absolute;
	font-size: 20px;
	top: 50%;
	left: 340px;
	height: 30px;
	width: 30px;
	background: rgba(0,0,0,0.7);
	transform: rotate(90deg);
}

#help #eject:hover, #help #content.selected, #help #eject.selected{
    background: rgba(0,0,0,0.9);
}

#eject i{
	padding: 0 0 0 6px;
}

#help #eject.expanded{
    transform: rotate(-90deg);
}

article{
       text-align: center;
}

article h3{
	margin: 3px 0;
}

h3, h4{
	font-family: "Open Sans";
}

h4 span{
	margin-left: 5px;
	font-size: 0.9em;
}

h4{
	font-size: 1.2em;
	font-weight: normal;
}

.text{
	margin: 10px 0;
}

.title{
    display: inline;
    margin-bottom: 5px;
    color: #222;
}

.text i{
	color: #AAA;
	width: 15px;
}

#developmentNation, #developmentProvinces{
	margin-top: 20px;
	width: 100%;
}

#developmentProvinces{
	clear: both;
	margin-top: 30px;
}

#alternatives form{
	text-align: left;
	margin-bottom: 20px;
}

#alternatives form span{
	display: block;
	width: 100%;
	position:relative;
	line-height: 2em;
}

#alternatives select{
	margin-right: 20px;
	position: absolute;
	top: 0;
	right: 0;
}

#alternatives h3{
	text-align: left;
	margin-left: 20px;
}

#alternatives > div{
	width: 100%;
	border: 2px dashed #EEE;
	padding: 5px;
	border-radius: 15px;
}

#alternatives > div:hover{
	border: 2px dashed #CCC;
}

@media all and (min-width: 650px){
    #alternatives .text{
        text-align: left;
    }
    
    #alternatives canvas{
	    float: left;
	    clear: both;
	}
	
	
}

@media all and (min-width: 880px){
	#developmentNation, #developmentProvinces{
	    background: url("/static/images/arrow.png") 70% 60% no-repeat;
        background-size: auto 250px;
	}
	
	.left{
        float: left;
    }

	.right{
	    float: right;
	}
	
	.text{
	    margin-bottom: 30px;
	    text-align: left;
	    margin-top: 20px;
	    display: block;
	}
	
	article canvas{
	    display: block;
	}
	
	#developmentNation .text{
	    margin-top: 50px;
	}
	
	#alternatives .text{
	    display: inline;
	    float: right;
	    width: 400px;
	}
	
	#alternatives form span{
	    display: inline;
	    width: 100%;
	    position:relative;
	    line-height: 1em;
	}
	
	#alternatives select{
	    margin-right: 20px;
	    position: static;
	}
}

@media all and (min-width: 1200px){
	.wrapper{
	   width: 90%
	}
	
	#developmentNation, #developmentProvinces{
	    background: url("/static/images/arrow.png") 60% 50% no-repeat;
	    background-size: auto 350px;
	}
}

@media all and (min-width: 1600px){
	.wrapper{
	   width: 70%;
	}
}